/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.create-task__custom-notes-labels,
.create-task__add-custom-note-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 150px;
  gap: var(--size-4-2);
}

.create-task__add-custom-note-container input {
  width: 100%;
}

.create-task__add-custom-note-label {
  margin-bottom: var(--size-4-2);
  display: block;
}

.create-task__add-custom-note-actions > div,
.create-task__custom-note-actions {
  display: flex;
  gap: var(--size-4-1);
  justify-content: flex-end;
}

.create-task__add-custom-note-actions > div button,
.create-task__custom-note-actions button {
  height: var(--input-height);
}

.create-task__add-custom-note-actions .create-task__add-custom-note-label {
  text-align: right;
}

.create-task__info {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
  margin-top: var(--size-4-2);
  margin-bottom: 0;
}

.create-task__settings-error {
  color: var(--text-error);
  margin-top: var(--size-4-2);
  margin-bottom: 0;
}

.create-task__custom-note {
  margin-top: var(--size-4-2);
}

.create-task__preview {
  display: block;
  word-break: break-all;
  padding: var(--size-4-4);
  background-color: var(--code-background);
  white-space: var(--code-whitespace);
  font-size: var(--code-size);
  border-radius: var(--radius-s);
  margin-top: var(--size-4-2);
}
