.create-task__changelog-modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-task__changelog-modal-heading button {
  gap: var(--size-4-2);
}

.create-task__changelog-modal-release img {
  max-width: 100%;
}

.create-task__changelog-modal-release--new h2 {
  display: flex;
  gap: var(--size-4-4);
  align-items: center;
}

.create-task__changelog-modal-release--new h2::after {
  content: "New";
  background-color: var(--interactive-accent);
  border-radius: 100px;
  font-size: var(--font-ui-small);
  display: inline-block;
  padding: var(--size-4-1) var(--size-4-2);
}

.create-task__changelog-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4-2);
}
