.create-task__create-modal {
  container-type: inline-size;
}

.create-task__create-modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-task__create-modal-heading button {
  gap: var(--size-4-2);
}

.create-task__create-modal-row {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--size-4-4);
  border-top: 1px solid var(--background-modifier-border);
  border-bottom: 1px solid var(--background-modifier-border);
  padding-top: var(--size-4-4);
  padding-bottom: var(--size-4-4);
}

@container (min-width: 500px) {
  .create-task__create-modal-row {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-4-8);
  }
}

.create-task__create-modal-row + .create-task__create-modal-row {
  border-top: none;
}

.create-task__create-modal-left {
  display: flex;
  gap: var(--size-4-2);
}

.create-task__create-modal-right select,
.create-task__create-modal-right input,
.create-task__create-modal-right textarea {
  width: 100%;
}

.create-task__create-modal-right textarea {
  resize: vertical;
}

.create-task__create-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4-2);
  margin-top: var(--size-4-4);
}

.create-task__preview {
  display: block;
  word-break: break-all;
  padding: var(--size-4-4);
  background-color: var(--code-background);
  white-space: var(--code-whitespace);
  font-size: var(--code-size);
  border-radius: var(--radius-s);
  margin-top: var(--size-4-2);
}
