/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

@import "./CreateModal/styles.css";
@import "./settings/styles.css";
@import "./ChangelogModal/styles.css";

.create-task__info {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
  margin-top: var(--size-4-2);
  margin-bottom: 0;
}

.create-task__error {
  color: var(--text-error);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
  margin-top: var(--size-4-2);
  margin-bottom: 0;
}

.create-task__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-4-2);
  margin-top: var(--size-4-8);
}

.create-task__links a,
.create-task__links button {
  display: flex;
  align-items: center;
  gap: var(--size-4-2);
  border-radius: var(--radius-s);
  background-color: var(--background-primary-alt);
  padding: var(--size-4-4);
  text-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-bold);
  box-shadow: none;
  font-size: var(--font-ui-medium);
  height: auto;
  cursor: var(--cursor-link);
}

.create-task__links a:hover,
.create-task__links button:hover {
  background-color: var(--background-modifier-hover);
}
